<h1>RubyWireless</h1>
<hr>
<p class="lead">
  Ruby Wireless is a point of sale system for retail wireless agents. It's designed specifically for US Cellular Agents but it's configurable for other carriers as well (If you'd like to beta test for another carrier, please <a href="mailto:info@artificialgravity.co">get in touch</a>).
</p>
<a class="btn" href='http://demo.rubywireless.com/users/sign_in'>Online Demo &raquo;</a>
<a class="btn" href='https://rubywireless.com/agents/new'>Free Trial &raquo;</a>
<a class="btn" href='#pricing'>Pricing &darr;</a>
<a class="btn" href='mailto:info@artificialgravity.co'>Contact Us</a>